@import '../../scss/variables';

.portal {
  position: fixed;
  z-index: $zIndexOverlay;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}

.background {
  position: fixed;
  z-index: $zIndexOverlayBackground;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: black;
  opacity: 0;
  transition: opacity 0.3s ease-out;

  &--modal-open {
    opacity: 0.5;
  }
}

.modal-container {
  height: 100%;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
