$primaryColor: #f3ffe2;
$pageBackground: linear-gradient(180deg, #38b3bf 0%, #1695a3 100%);
$fontFamily: 'Open Sans', sans-serif;
$transitionDuration: 0.3s;

// overlay & modal
$zIndexOverlay: 1300;
$zIndexOverlayBackground: -1;
$closeButtonSize-xl: 140px;
$closeButtonSize-lg: 96px;
$closeButtonSize-md: 64px;
$closeButtonSize-sm: 48px;
$closeButtonSize-xs: 32px;
$closeButtonLineWidth: 1px;

// image thumbnails
$imageContainerSize-xl: 700px;
$imageContainerSize-lg: 600px;
$imageContainerSize-md: 500px;
$imageContainerSize-sm: 400px;
$imageContainerSize-xs: 240px;
$imageSize-xl: 1000px;
$imageSize-lg: 800px;
$imageSize-md: 600px;
$imageSize-sm: 500px;
$imageSize-xs: 300px;
